header.myHeader{
    height: 100px;
    border-bottom: 1px solid grey;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
}
header .headerBottom{
    display: flex;
    justify-content: space-between;
}

header .headerBottom a.active {
    color: dodgerblue;
    border-bottom: 3px solid dodgerblue;
}
footer.myFooter{
    height: 60px;
    border: 2px solid red;
}
.user{
    background-color: rgb(194, 24, 91);
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
ul{
    list-style-type: none;
}
header a,footer a{
    text-decoration: none;
    color: gray;
}
.left{
    border: 2px solid green;
}
.right{
    border: 2px solid salmon;
}
body{
    font-size: .9rem;
}
