header.myHeader{
    height: 100px;
    border: 2px solid green;
    border-bottom: 1px solid grey;
}
footer.myFooter{
    height: 60px;
    border: 2px solid red;
}
.headerLogo{
    border: 2px solid gold;  
}
.headerTools{
    border: 2px solid black;
}
.user{
    background-color: rgb(194, 24, 91);
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
ul{
    list-style: none;
}
